.show{
    background: #fff;
    font-size: 14px;
    // padding: 10px;
    .nav_show{
        width: 1000px;
        margin: 0 auto;
        padding: 16px;
        background: #f5f7fa;
        border-top:1px solid #eee;
        border-bottom:1px solid #eee;
        .nav_show_s{
            display: inline-block;
            font-size: 12px;
            input{
                height: 16px;
                width: 26px;
            }
            button{
                // height: 16px;
                padding: 0px 4px;
                // padding: 4px 8px;
                font-size: 12px;
                margin-left: 10px;
                background-color: #fff;
                color: #333;
                border: 1px solid #ccc;
                &:hover{
                    color: #3e89fa;
                    border: 1px solid #3e89fa;
                }
            }
            a{
                color: #2d64b3;
                font-size: 12px;
            }
            span{
                color: #F60;
                margin: 0 3px;
            }
        }
    }
    .k_body{
        width: 1000px;
        margin: 0 auto;
        .k_list{
            width: 740px;
            border:1px solid #e4e6eb;
            .title_show{
                padding: 10px 20px;
                font-size: 16px;
                border-bottom:1px solid #e4e6eb;
                div{
                    display: inline-block;
                }
                .right{
                    button{
                        padding: 4px 8px;
                        font-size: 12px;
                        background-color: #fff;
                        color: #333;
                        border: 1px solid #ccc;
                        &:hover{
                            color: #3e89fa;
                            border: 1px solid #3e89fa;
                        }
                    }
                }
            }
            .show_list_tiezi_body{
                position: relative;
                .list_tiezi{
                    background: #FBFBFD;
                    border-bottom: 1px solid #e4e6eb;
                    .d_author{
                        width: 130px;
                        text-align: center;
                        padding: 15px 0;
                        img{
                            width: 80px;
                            height: 80px;
                            padding: 4px;
                            background: none repeat scroll 0 0 #FFF;
                            border: 1px solid #CCC;
                        }
                        p{
                            padding: 10px;
                            a{

                            }
                        }
                    }
                    .d_neirong{
                        width: 600px;
                        min-height: 168px;
                        background: #fff;
                        .list_neirong{
                            padding: 16px 10px 10px;
                        }
                        .c_img{
                            padding-bottom: 40px;
                            padding-left:10px;
                        }
                    }
                }
                .list_neirong_nth{
                    position: absolute;
                    right: 20px;
                    bottom:14px;
                    font-size: 12px;
                    span{
                        margin: 0 4px;
                        color: #999;
                    }
                    a{
                        color: #2d64b3;
                        img{
                            height: 13px;
                            width: 40px;
                            margin-left: 7px;
                            vertical-align: middle;
                            margin-top: -.2em;
                        }
                    }
                }
            }
        }
    }
}
.pinglunqu{
    // border-top: 1px solid #BBBDBF;
    padding: 10px;
    width: 1000px;
    margin: 0 auto;
    border:1px solid #F5F5F5;
    background: url(../f_editor.jpg);
    .pingl_title{
        p{
            font-size: 14px;
            font-weight: bold;
            font-family: "Microsoft Yahei","ST Hei";
            span{
                background-position: 0 0;
                background: url(../poster_icons.png) no-repeat;
                display: inline-block;
                width: 14px;
                height: 14px;
                margin-right: 6px;
                margin-bottom: -1px;
            }
        }
    }
    .div_pinglun{
        border:1px solid #dfdfdf;
        background: #FAFAFA;
        padding: 10px;
        width: 740px;
        position: relative;
    }
    .pinglunqu_top{
        padding-left: 16px;
        span{
            // padding: 4px 8px;
            width: 48px;
            height: 20px;
            margin: 0;
            padding: 0;
            font-size: 12px;
            display: inline-block;
            cursor: pointer;
            color: #3163B6;
            background: url(../icon_png.png) no-repeat;
            &:nth-child(1){
                background-position: -6px 0;
            }
            &:nth-child(2){
                background-position: -73px 0;
            }
            &:nth-child(3){
                background-position: -207px 0;
            }
        }
    }
    .pinglunqu_content{
        textarea{
            width: 100%;
            padding: 10px;
            height: 80px;
            resize:none;
            font-size: 14px;
            color:rgb(87, 82, 82);
        }
    }
    .pinglunqu_bottom{
        margin-top: 6px;
        span{
            padding: 8px 14px;
            cursor: pointer;
            color: #fff;
            border-radius: 2px;

            overflow: hidden;
            font-size: 14px;
            background: #398BFC;
        }
    }
}
.overflow{
    overflow: hidden;
}
.left{
    float: left;
}
.right{
    float: right;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
}
