.show11 {
  background: #fff;
  font-size: 14px;
}
.show11 .nav_show {
  width: 1000px;
  margin: 0 auto;
  padding: 16px;
  background: #f5f7fa;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.show11 .nav_show .nav_show_s {
  display: inline-block;
  font-size: 12px;
}
.show11 .nav_show .nav_show_s div {
  display: inline-block;
}
.show11 .nav_show .nav_show_s input {
  height: 16px;
  width: 26px;
}
.show11 .nav_show .nav_show_s button {
  padding: 0px 4px;
  font-size: 12px;
  margin-left: 10px;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
}
.show11 .nav_show .nav_show_s button:hover {
  color: #3e89fa;
  border: 1px solid #3e89fa;
}
.show11 .nav_show .nav_show_s a {
  color: #2d64b3;
  font-size: 12px;
  padding: 0 2px;
}
.show11 .nav_show .nav_show_s .dq_page {
  color: #F60;
}
.show11 .nav_show .nav_show_s span {
  color: #F60;
  margin: 0 3px;
}
.show11 .k_body {
  width: 1000px;
  margin: 0 auto;
}
.show11 .k_body .k_list {
  width: 740px;
  border: 1px solid #e4e6eb;
}
.show11 .k_body .k_list .title_show {
  padding: 10px 20px;
  font-size: 16px;
  border-bottom: 1px solid #e4e6eb;
}
.show11 .k_body .k_list .title_show div {
  display: inline-block;
}
.show11 .k_body .k_list .title_show .right button {
  padding: 4px 8px;
  font-size: 12px;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
}
.show11 .k_body .k_list .title_show .right button:hover {
  color: #3e89fa;
  border: 1px solid #3e89fa;
}
.show11 .k_body .k_list .show_list_tiezi_body .pl_show_box {
  position: relative;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi {
  background: #FBFBFD;
  border-bottom: 1px solid #e4e6eb;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_author {
  width: 130px;
  text-align: center;
  padding: 15px 0;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_author img {
  width: 80px;
  height: 80px;
  padding: 4px;
  background: none repeat scroll 0 0 #FFF;
  border: 1px solid #CCC;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_author p {
  padding: 10px;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong {
  width: 600px;
  min-height: 168px;
  background: #fff;
  padding-bottom: 10px;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .list_neirong {
  padding: 16px 10px 10px;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .c_img {
  padding-bottom: 40px;
  padding-left: 10px;
  min-height: 90px;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .list_neirong_nth {
  font-size: 12px;
  text-align: right;
  padding-right: 10px;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .list_neirong_nth span {
  margin: 0 4px;
  color: #999;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .list_neirong_nth a {
  color: #2d64b3;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .list_neirong_nth a img {
  height: 13px;
  width: 40px;
  margin-left: 7px;
  vertical-align: middle;
  margin-top: -0.2em;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .list_neirong_nth .list_deteqa_reply {
  text-decoration: none;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .list_neirong_nth .list_deteqa_reply.apk_show {
  border: 1px solid #f0f1f2;
  border-bottom: 0;
  color: #1D53BF;
  cursor: pointer;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  text-align: center;
  width: 80px;
  background: #f7f8fa;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box {
  display: none;
  padding: 10px 10px 0 10px;
  background: #f7f8fa;
  border: 1px solid #f0f1f2;
  margin: -1px 10px 10px 10px;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .show_huifu ul {
  padding: 0;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .show_huifu ul li {
  list-style: none;
  padding-top: 10px;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .show_huifu ul li a {
  font-size: 12px;
  text-decoration: none;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .show_huifu ul li p {
  margin: 0;
  padding: 0;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .show_huifu ul .ul_huifu {
  padding: 4px 4px 0px 4px;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .show_huifu ul .ul_huifu .yh_img {
  float: left;
  width: 36px;
  height: 36px;
  border: 1px #ccc solid;
  padding: 1px;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .show_huifu ul .ul_huifu .yh_img img {
  width: 32px;
  height: 32px;
  border: 0;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .show_huifu ul .ul_huifu .huifu_neir {
  margin-left: 45px;
  zoom: 1;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 12px;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .show_huifu ul .ul_huifu .huifu_neir .huifu_name {
  position: relative;
  zoom: 1;
  color: #2d64b3;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .show_huifu ul .ul_huifu .huifu_neir .huifu_content {
  line-height: 20px;
  font-size: 14px;
  word-wrap: break-word;
  word-break: break-word;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .show_huifu ul .ul_huifu .huifu_neir .huifu_reply {
  text-align: right;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .show_huifu ul .ul_huifu .huifu_neir .huifu_reply .huifu_reply_btn {
  color: #666;
  padding-left: 5px;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .show_huifu ul .ul_btn {
  padding: 14px 4px 0px 4px;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .show_huifu ul .ul_btn p span {
  font-size: 12px;
  color: #666;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .show_huifu ul .ul_btn p .jixu_talk {
  float: right;
  padding: 4px 8px;
  font-size: 12px;
  background-color: #fff;
  color: #333;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #ccc;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .show_huifu ul .ul_btn p .jixu_talk:hover {
  background-color: #fff;
  border: 1px solid #3e89fa;
  color: #3e89fa;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .jixu_huifu_tiezi {
  padding-right: 20px;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .jixu_huifu_tiezi textarea {
  width: 100%;
  height: 44px !important;
  resize: none;
  border: 2px solid #d6dffa;
  padding-left: 8px;
  padding-right: 8px;
  outline: none;
  padding-top: 4px;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .jixu_huifu_tiezi .jixu_huifu_tiezi_p {
  text-align: right;
  overflow: hidden;
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .jixu_huifu_tiezi .jixu_huifu_tiezi_p span {
  float: right;
  display: block;
  font-size: 12px;
  cursor: pointer;
  width: 51px;
  height: 24px;
  line-height: 24px;
  color: #FFF;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #2E7BEF;
  background: -webkit-linear-gradient(#5693F9, #458CF5, #5693F9);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#5693F9, #458CF5, #5693F9);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#5693F9, #458CF5, #5693F9);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#5693F9, #458CF5, #5693F9);
  /* 标准的语法 */
}
.show11 .k_body .k_list .show_list_tiezi_body .list_tiezi .d_neirong .huifu_box .jixu_huifu_tiezi .jixu_huifu_tiezi_p span:hover {
  background: -webkit-linear-gradient(#5ED3FF, #19A2FF);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#5ED3FF, #19A2FF);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#5ED3FF, #19A2FF);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#5ED3FF, #19A2FF);
  /* 标准的语法 */
  border: 1px solid #0298FF;
}
.pinglunqu {
  padding: 10px;
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #F5F5F5;
  background: url(../f_editor.jpg);
}
.pinglunqu .pingl_title p {
  font-size: 14px;
  font-weight: bold;
  font-family: "Microsoft Yahei", "ST Hei";
}
.pinglunqu .pingl_title p span {
  background-position: 0 0;
  background: url(../poster_icons.png) no-repeat;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  margin-bottom: -1px;
}
.pinglunqu .div_pinglun {
  border: 1px solid #dfdfdf;
  background: #FAFAFA;
  padding: 10px;
  width: 740px;
  position: relative;
}
.pinglunqu .pinglunqu_top {
  padding-left: 16px;
}
.pinglunqu .pinglunqu_top span {
  width: 48px;
  height: 20px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  display: inline-block;
  cursor: pointer;
  color: #3163B6;
  background: url(../icon_png.png) no-repeat;
}
.pinglunqu .pinglunqu_top span:nth-child(1) {
  background-position: -6px 0;
}
.pinglunqu .pinglunqu_top span:nth-child(2) {
  background-position: -73px 0;
}
.pinglunqu .pinglunqu_top span:nth-child(3) {
  background-position: -207px 0;
}
.pinglunqu .pinglunqu_content textarea {
  width: 100%;
  padding: 10px;
  height: 80px;
  resize: none;
  font-size: 14px;
  color: #575252;
}
.pinglunqu .pinglunqu_bottom {
  margin-top: 6px;
}
.pinglunqu .pinglunqu_bottom span {
  padding: 8px 14px;
  cursor: pointer;
  color: #fff;
  border-radius: 2px;
  overflow: hidden;
  font-size: 14px;
  background: #398BFC;
}
.overflow {
  overflow: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
